/*
	project: Desain Web Template
	Cascade Style Sheets file
*/

#art-main{
	background: #FCFCFC sroll;
	margin:0 auto;
	font-size: 14px;
	font-family: Book antiqua, 'Arial Unicode MS', Helvetica, Sans-Serif;
	position: relative;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	cursor: default;
	overflow:hidden;
}
h1{
	font-size: 40px;
	font-family: 'Montserrat';
	color: #3f728a;
}
h2{
	font-size: 16px;
	font-family:Arial, 'Arial Unicode MS', Helvetica, sans-Serif;
	color: #FFAF00;
}
h3{
	font-size: 16px;
	font-family:Arial, 'Arial Unicode MS', Helvetica, sans-Serif;
}

.art-nav{ /* navigasi atas */
	background: #E0E0E0;
	width: 100%;
	
	padding:6px;
	margin:0 auto;
	position: relative;
	z-index: 100;
	font-size: 0;
	box-shadow: 0 5px 7px -5px #222;
}
.topmenu {
	height: 16px;
	margin: 0px;
	padding: 0px;
}
.topmenu p {
	position : relative;
	width : 400px;
	margin-left : 10px;
	margin-top : 8px;
	line-height : 8px;
	font-size : 11px;
	color : #5a6a6a;
}
.top menu a{
	color : #5a6a6a;
	text-decoration: none;
}
.top menu a:hover{
	text-decoration :underline;
}
.topmenu span {
	margin-left : 20px;
}

.art-header { /* web header */
	height: 120px;
	width: 75%;
	margin : 5px auto 0;
	padding : 2px;
}

.menumid { /* menu web */
	height: 38px;
	background: #22275A;
	background: -moz-linear-gradient(top, #20479b 0%, #7293d1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20479b), color-stop(100%, #7293d1));
	background: -webkit-linear-gradient(top, #20479b 0%, #7293d1 100%);
	background: -o-linear-gradient(top, #20479b 0%, #7293d1 100%);
	background: -ms-linear-gradient(top, #20479b 0%, #7293d1 100%);
	background: linear-gradient(top, #20479b 0%, #7293d1 100%);
	width: auto;
	margin-left: 12%;
	margin-right: 12%;
	box-shadow: 0 5px 5px -5px #333;
	vertical-align: middle;
}

.menumid ul {
	list-style: none;

}

.menumid > ul {
	float: left;

}

.menumid > ul > li {
	float: left;
}

.menumid > ul > li > a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Montserrat';
	text-decoration: none;
	line-height: 8px;
	/*margin-right: 5px 30px 0 5px;*/
	margin: 10px;
}

.menumid > ul > li:hover > a {
	text-decoration: none;
	color: #fff;
}

.art-sheet {
	background: #fcfcfc;
	border-radius: 0px;
	padding: 5px 0 0 10px;
	margin: 5px auto 0;
	position: relative;
	cursor: auto;
	width: 75%;
	z-index: auto !important;
}

.art-sheet p {
	position: relative;
	cursor: auto;
	width: 100%;
	font-family: 'Montserrat';
}

.art-sheet a {
	line-height: 175%;
	font-family: 'Montserrat';
	text-decoration: none;
	color: #6a6a6a;

}

.art-sheet a:hover {
	color: #ffa500;
	/*font-size: 12px;*/
	font-family: 'Montserrat';
	text-decoration: underline;

}

.art-footer {
	background: #c98fc7;
	margin: 40px auto 0;
	position: relative;
	font-family: 'Montserrat';
	text-align: left;
	width: 75%;
	height: 100px;
	border-radius: 0px;
	box-shadow: 0 -7px 7px -7px #888;
	padding: 20px 0px 10px 10px; 
}

.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover {
	color: #fff;
	font-size: 12px;
	font-family: 'Montserrat';
	text-decoration: none;
	margin-right: 0 10px 0 10px;
}

.art-footer a:hover {
	color: #ffa500;
	font-size: 12px;
	font-family: 'Montserrat';
	text-decoration: underline;
}

.art-footer p {
	font-size: 12px;
	font-family: 'Montserrat';
}